html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1 {
  font-size: 48px;
  color: #333;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}

body {
  position: relative;
  min-height: 90%;
  min-width: 90%;
  background: linear-gradient(rgba(20, 209, 178, 0.68), rgb(90, 16, 202));
}

button {
    font-size: 20px;
    padding: 10px 20px; 
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2mm ridge rgba(50, 212, 220, 0.525);
  background: rgba(51, 180, 186, 0.2);
  border-radius: 1px;
  box-shadow: 1px 3px 3px #333;
}

#list {
  position: relative;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 1px 3px 3px #333;
  font-size: 40px;
}

.low-priority {
  color: green;
}

.medium-priority {
  color: rgb(207, 222, 40);
}

.high-priority {
  color: red;
}

#new-task-description {
  font-family: "Arial", sans-serif; /* Change the font family */
  font-size: 40px; /* Change the font size */
}

.large-label {
  font-size: 40px; /* Adjust as needed */
}

#priority-select {
  font-family: "Arial", sans-serif; /* Change the font family */
  font-size: 40px; /* Change the font size */
}

input[type="submit"] {
  font-size: 40px; /* Increase the font size */
}